@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a {
  color: black!important;
}

.brand-logo, h4, h5, h6 {
  font-family: 'Grand Hotel', cursive;
}

.login-title {
  font-family: 'Grand Hotel', cursive;
}

.mycard {
  margin-top: 40px;
}

.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #1e88e5 !important;
  box-shadow: 0 1px 0 0 #1e88e5 !important;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
 
.item {
  width: 30%;
}

.home {
}

.home-card {
  max-width: 500px;
  margin: 26px auto;
  height:max-content;
}

#toast-container {
  top:40px !important;
  right: 20px !important;
  left: auto !important;
}